Repository boostcamp-2020/IssueTracker-11, pull requests merged in 2020-11, with the labels that each got.

#27 [iOS] 레이블 탭 UI구성, 통신 제외 로직 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/CreationView/CreationFormView.swift
  iOS/IssueTracker/IssueTracker/Extensions/UIColor+.swift
  iOS/IssueTracker/IssueTracker/Label/Label.swift
  iOS/IssueTracker/IssueTracker/Label/LabelAddViewController.swift
  iOS/IssueTracker/IssueTracker/Label/LabelCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Label/LabelDetailViewController.swift
  iOS/IssueTracker/IssueTracker/Label/LabelMainViewController.swift
  iOS/IssueTracker/IssueTracker/Storyboards/Label.storyboard
  iOS/IssueTracker/Podfile.lock
Labels: iOS

#28 [iOS] 마일스톤 목록뷰, 생성뷰, 편집뷰 초기 구현 완료
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Milestone/BadgeLabel.swift
  iOS/IssueTracker/IssueTracker/Milestone/BorderLabel.swift
  iOS/IssueTracker/IssueTracker/Milestone/MilestoneAddViewController.swift
  iOS/IssueTracker/IssueTracker/Milestone/MilestoneCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Milestone/MilestoneDetailViewController.swift
  iOS/IssueTracker/IssueTracker/Milestone/MilestoneMainViewController.swift
  iOS/IssueTracker/IssueTracker/Milestone/String+.swift
  iOS/IssueTracker/IssueTracker/Model/Milestone.swift
  iOS/IssueTracker/IssueTracker/Storyboards/Milestone.storyboard
Labels: iOS

#23 [WEB] router, model, controller, middleware 파일 및 디렉토리 설계
  README.md
  web/server/app.js
  web/server/config/database.js
  web/server/controllers/comments.js
  web/server/controllers/controller.js
  web/server/controllers/issues.js
  web/server/controllers/labels.js
  web/server/controllers/milestones.js
  web/server/controllers/users.js
  web/server/middlewares/login.js
  web/server/middlewares/middlewares.js
  web/server/middlewares/thirdPartyMiddleware.js
  web/server/models/comments.js
  web/server/models/issues.js
  web/server/models/labels.js
  web/server/models/milestones.js
  web/server/models/model.js
  web/server/models/users.js
  web/server/package-lock.json
  web/server/package.json
  web/server/routes/comments.js
  web/server/routes/index.js
  web/server/routes/issues.js
  web/server/routes/labels.js
  web/server/routes/milestones.js
  web/server/routes/users.js
Labels: Backend, chore, feat, style

#43 [WEB] fix: 서버 배포 전 오류 제거 #42
  web/server/models/model.js
Labels: bug

#47 [iOS] 이슈 상세 뷰 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Extensions/UIView+.swift
  iOS/IssueTracker/IssueTracker/Issue/CommentCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Issue/CommentHeaderReusableView.swift
  iOS/IssueTracker/IssueTracker/Issue/IssueCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Issue/IssueContentView.swift
  iOS/IssueTracker/IssueTracker/Issue/IssueContentView.xib
  iOS/IssueTracker/IssueTracker/Issue/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/Issue/IssueMainViewController.swift
  iOS/IssueTracker/IssueTracker/Issue/SwipeableCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Model/IssueStatus.swift
  iOS/IssueTracker/IssueTracker/Storyboards/Issue.storyboard
  iOS/IssueTracker/IssueTracker/SupportingView/CircleButton.swift
Labels: iOS

#48 [iOS] 이슈 목록 하단 메뉴뷰, Cell Checkmark 이미지 작성 및 적용
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Extensions/UICollectionView+.swift
  iOS/IssueTracker/IssueTracker/Issue/BottomMenuView.swift
  iOS/IssueTracker/IssueTracker/Issue/BottomMenuView.xib
  iOS/IssueTracker/IssueTracker/Issue/IssueCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Issue/IssueContentView.swift
  iOS/IssueTracker/IssueTracker/Issue/IssueContentView.xib
  iOS/IssueTracker/IssueTracker/Issue/IssueMainViewController.swift
  iOS/IssueTracker/IssueTracker/Issue/SwipeableCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Storyboards/Issue.storyboard
  iOS/IssueTracker/Podfile.lock
Labels: iOS

#49 [iOS] 이슈 필터뷰 UI 작성
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Issue/Detail/CommentCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Issue/Detail/CommentHeaderReusableView.swift
  iOS/IssueTracker/IssueTracker/Issue/Detail/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/Issue/Filter/FilterDataSource.swift
  iOS/IssueTracker/IssueTracker/Issue/Filter/FilterDetailViewController.swift
  iOS/IssueTracker/IssueTracker/Issue/Filter/FilterTableViewCell.swift
  iOS/IssueTracker/IssueTracker/Issue/Filter/IssueFilterViewController.swift
  iOS/IssueTracker/IssueTracker/Issue/Main/BottomMenuView.swift
  iOS/IssueTracker/IssueTracker/Issue/Main/BottomMenuView.xib
  iOS/IssueTracker/IssueTracker/Issue/Main/IssueCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Issue/Main/IssueContentView.swift
  iOS/IssueTracker/IssueTracker/Issue/Main/IssueContentView.xib
  iOS/IssueTracker/IssueTracker/Issue/Main/IssueMainViewController.swift
  iOS/IssueTracker/IssueTracker/Model/IssueFilterOption.swift
  iOS/IssueTracker/IssueTracker/Storyboards/Issue.storyboard
  iOS/IssueTracker/IssueTracker/SupportingView/CreationView/CreationFormType.swift
  iOS/IssueTracker/IssueTracker/SupportingView/CreationView/CreationFormView.swift
  iOS/IssueTracker/IssueTracker/SupportingView/CreationView/CreationFormView.xib
  iOS/IssueTracker/IssueTracker/SupportingView/SwipeableCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/ViewController.swift
Labels: iOS

#51 [iOS] 새 이슈 UI 작업
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Issue/Add/ContentTextView.swift
  iOS/IssueTracker/IssueTracker/Issue/Add/IssueAddViewController.swift
  iOS/IssueTracker/IssueTracker/Storyboards/Issue.storyboard
  iOS/IssueTracker/IssueTracker/Supporting Files/Info.plist
  iOS/IssueTracker/Podfile.lock
Labels: iOS

#45 [WEB] 클라이언트 개발을 위한 API 사전 배포
  web/server/config/database.js
  web/server/controllers/assignees.js
  web/server/controllers/comments.js
  web/server/controllers/controller.js
  web/server/controllers/issueComments.js
  web/server/controllers/issueLabels.js
  web/server/controllers/issueMilestones.js
  web/server/controllers/issues.js
  web/server/controllers/labels.js
  web/server/controllers/milestones.js
  web/server/controllers/users.js
  web/server/models/assignees.js
  web/server/models/comments.js
  web/server/models/issueLabels.js
  web/server/models/issueMilestones.js
  web/server/models/issues.js
  web/server/models/labels.js
  web/server/models/milestones.js
  web/server/models/model.js
  web/server/models/users.js
  web/server/routes/assignees.js
  web/server/routes/comments.js
  web/server/routes/issueComments.js
  web/server/routes/issueLabels.js
  web/server/routes/issueMilestones.js
  web/server/routes/issues.js
  web/server/routes/labels.js
  web/server/routes/milestones.js
Labels: Backend, bug

#54 PullUpView + IssueInfoViewController 초기 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Extensions/UIViewController+.swift
  iOS/IssueTracker/IssueTracker/Issue/Detail/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/Issue/Detail/IssueInfoViewController.swift
  iOS/IssueTracker/IssueTracker/Issue/Detail/MilestoneView.swift
  iOS/IssueTracker/IssueTracker/Issue/Detail/ProfileView.swift
  iOS/IssueTracker/IssueTracker/Issue/Detail/ProfileView.xib
  iOS/IssueTracker/IssueTracker/Issue/Filter/FilterTableViewCell.swift
  iOS/IssueTracker/IssueTracker/Storyboards/Issue.storyboard
  iOS/IssueTracker/IssueTracker/SupportingView/PullUpController.swift
Labels: iOS

#55 [iOS] 네트워크 구조 추가
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Extensions/UIColor+.swift
  iOS/IssueTracker/IssueTracker/Label/LabelAddViewController.swift
  iOS/IssueTracker/IssueTracker/Label/LabelCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Label/LabelDetailViewController.swift
  iOS/IssueTracker/IssueTracker/Label/LabelMainViewController.swift
  iOS/IssueTracker/IssueTracker/Network/APIEndpoints.swift
  iOS/IssueTracker/IssueTracker/Network/NetworkResult.swift
  iOS/IssueTracker/IssueTracker/Network/Requestable.swift
  iOS/IssueTracker/IssueTracker/Network/ResponseArray.swift
  iOS/IssueTracker/IssueTracker/Network/ResponseObject.swift
  iOS/IssueTracker/IssueTracker/Network/Services/LabelService.swift
  iOS/IssueTracker/IssueTracker/Storyboards/Label.storyboard
  iOS/IssueTracker/Podfile
  iOS/IssueTracker/Podfile.lock
Labels: iOS

#62 [iOS] Network layer 구조 수정 및 Label Service 작성
  iOS/IssueTracker/.swiftlint.yml
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Extensions/UIViewController+.swift
  iOS/IssueTracker/IssueTracker/Issue/Detail/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/Issue/Detail/IssueInfoViewController.swift
  iOS/IssueTracker/IssueTracker/Label/LabelAddViewController.swift
  iOS/IssueTracker/IssueTracker/Label/LabelDetailViewController.swift
  iOS/IssueTracker/IssueTracker/Label/LabelMainViewController.swift
  iOS/IssueTracker/IssueTracker/Model/Label.swift
  iOS/IssueTracker/IssueTracker/Network/APIEndpoints.swift
  iOS/IssueTracker/IssueTracker/Network/Endpoints/EndpointType.swift
  iOS/IssueTracker/IssueTracker/Network/Endpoints/LabelEndpoint.swift
  iOS/IssueTracker/IssueTracker/Network/Requestable.swift
  iOS/IssueTracker/IssueTracker/Network/Services/LabelService.swift
  iOS/IssueTracker/IssueTracker/Storyboards/Issue.storyboard
  iOS/IssueTracker/IssueTracker/Supporting Files/Info.plist
  iOS/IssueTracker/Podfile.lock
Labels: iOS

#66 [iOS] Milestone Network API 연결 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Extensions/NSNotification.Name+.swift
  iOS/IssueTracker/IssueTracker/Extensions/String+.swift
  iOS/IssueTracker/IssueTracker/Milestone/MilestoneAddViewController.swift
  iOS/IssueTracker/IssueTracker/Milestone/MilestoneCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Milestone/MilestoneDetailViewController.swift
  iOS/IssueTracker/IssueTracker/Milestone/MilestoneMainViewController.swift
  iOS/IssueTracker/IssueTracker/Model/Milestone.swift
  iOS/IssueTracker/IssueTracker/Network/Endpoints/MilestoneEndpoint.swift
  iOS/IssueTracker/IssueTracker/Network/Services/MilestoneService.swift
  iOS/IssueTracker/IssueTracker/Storyboards/Milestone.storyboard
Labels: iOS

#67 [iOS] Issue 뷰 통신
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Issue/Main/BottomMenuView.swift
  iOS/IssueTracker/IssueTracker/Issue/Main/IssueCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Issue/Main/IssueContentView.swift
  iOS/IssueTracker/IssueTracker/Issue/Main/IssueContentView.xib
  iOS/IssueTracker/IssueTracker/Issue/Main/IssueMainViewController.swift
  iOS/IssueTracker/IssueTracker/Label/LabelMainViewController.swift
  iOS/IssueTracker/IssueTracker/Model/Issue.swift
  iOS/IssueTracker/IssueTracker/Model/Label.swift
  iOS/IssueTracker/IssueTracker/Model/User.swift
  iOS/IssueTracker/IssueTracker/Network/Endpoints/IssueEndpoint.swift
  iOS/IssueTracker/IssueTracker/Network/Services/IssueService.swift
  iOS/IssueTracker/IssueTracker/Storyboards/Issue.storyboard
  iOS/IssueTracker/IssueTracker/Storyboards/Label.storyboard
  iOS/IssueTracker/Podfile.lock
Labels: iOS

#72 [iOS] 로그인 뷰 Layout 구성
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Extensions/NSNotification.Name+.swift
  iOS/IssueTracker/IssueTracker/Label/LabelAddViewController.swift
  iOS/IssueTracker/IssueTracker/Label/LabelDetailViewController.swift
  iOS/IssueTracker/IssueTracker/Label/LabelMainViewController.swift
  iOS/IssueTracker/IssueTracker/Login/LoginViewController.swift
  iOS/IssueTracker/IssueTracker/Milestone/MilestoneMainViewController.swift
  iOS/IssueTracker/IssueTracker/Storyboards/Label.storyboard
  iOS/IssueTracker/IssueTracker/Storyboards/Login.storyboard
  iOS/IssueTracker/IssueTracker/Storyboards/Milestone.storyboard
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/github_logo.imageset/Contents.json
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/github_logo.imageset/GitHub-Mark-120px-plus.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/github_logo.imageset/GitHub-Mark-32px.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/github_logo.imageset/GitHub-Mark-64px.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/github_logo.imageset/GitHub-Mark-Light-120px-plus.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/github_logo.imageset/GitHub-Mark-Light-32px.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/github_logo.imageset/GitHub-Mark-Light-64px.png
  iOS/IssueTracker/IssueTracker/SupportingView/BadgeLabel.swift
Labels: iOS

#73 [iOS] Issue API통신
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Issue/Add/IssueAddViewController.swift
  iOS/IssueTracker/IssueTracker/Issue/Detail/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/Issue/Main/IssueContentView.xib
  iOS/IssueTracker/IssueTracker/Issue/Main/IssueMainViewController.swift
  iOS/IssueTracker/IssueTracker/Model/Issue.swift
  iOS/IssueTracker/IssueTracker/Network/Endpoints/IssueDetailEndpoint.swift
  iOS/IssueTracker/IssueTracker/Network/Endpoints/IssueEndpoint.swift
  iOS/IssueTracker/IssueTracker/Network/Services/IssueDetailService.swift
  iOS/IssueTracker/IssueTracker/Network/Services/IssueService.swift
  iOS/IssueTracker/IssueTracker/Storyboards/Issue.storyboard
Labels: iOS

#75 [iOS] 이슈 추가 뷰 마크다운 랜더
  iOS/IssueTracker/IssueTracker/Issue/Add/ContentTextView.swift
  iOS/IssueTracker/IssueTracker/Issue/Add/IssueAddViewController.swift
  iOS/IssueTracker/IssueTracker/Storyboards/Issue.storyboard
  iOS/IssueTracker/Podfile
  iOS/IssueTracker/Podfile.lock
Labels: iOS

#77 [iOS] Issue Detail API 추가
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Extensions/NSNotification.Name+.swift
  iOS/IssueTracker/IssueTracker/Extensions/String+.swift
  iOS/IssueTracker/IssueTracker/Issue/Add/IssueAddViewController.swift
  iOS/IssueTracker/IssueTracker/Issue/Detail/CommentCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Issue/Detail/CommentHeaderReusableView.swift
  iOS/IssueTracker/IssueTracker/Issue/Detail/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/Milestone/MilestoneCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Model/Comment.swift
  iOS/IssueTracker/IssueTracker/Model/Issue.swift
  iOS/IssueTracker/IssueTracker/Network/Endpoints/IssueDetailEndpoint.swift
  iOS/IssueTracker/IssueTracker/Network/Services/IssueDetailService.swift
  iOS/IssueTracker/IssueTracker/Storyboards/Milestone.storyboard
Labels: iOS

#78 [iOS] IssueInfoView Compositional layout 으로 변경
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Issue/Detail/CloseButtonCell.swift
  iOS/IssueTracker/IssueTracker/Issue/Detail/InfoHeaderView.swift
  iOS/IssueTracker/IssueTracker/Issue/Detail/IssueInfoViewController.swift
  iOS/IssueTracker/IssueTracker/Issue/Detail/LabelCell.swift
  iOS/IssueTracker/IssueTracker/Issue/Detail/MilestoneCell.swift
  iOS/IssueTracker/IssueTracker/Issue/Detail/MilestoneView.swift
  iOS/IssueTracker/IssueTracker/Issue/Detail/ProfileCell.swift
  iOS/IssueTracker/IssueTracker/Issue/Detail/ProfileView.swift
  iOS/IssueTracker/IssueTracker/Issue/Detail/ProfileView.xib
  iOS/IssueTracker/IssueTracker/Storyboards/Issue.storyboard
  iOS/IssueTracker/IssueTracker/SupportingView/ShadowConlectionViewCell.swift
Labels: iOS

#80 [iOS] 마일스톤, 레이블 버그 수정
  iOS/IssueTracker/IssueTracker/Extensions/NSNotification.Name+.swift
  iOS/IssueTracker/IssueTracker/Issue/Add/IssueAddViewController.swift
  iOS/IssueTracker/IssueTracker/Issue/Main/IssueMainViewController.swift
  iOS/IssueTracker/IssueTracker/Label/LabelMainViewController.swift
  iOS/IssueTracker/IssueTracker/Milestone/MilestoneCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Milestone/MilestoneMainViewController.swift
  iOS/IssueTracker/IssueTracker/Model/Issue.swift
  iOS/IssueTracker/IssueTracker/Model/Label.swift
  iOS/IssueTracker/IssueTracker/Model/Milestone.swift
  iOS/IssueTracker/IssueTracker/Network/Endpoints/MilestoneEndpoint.swift
  iOS/IssueTracker/IssueTracker/Network/Services/MilestoneService.swift
  iOS/IssueTracker/IssueTracker/Storyboards/Label.storyboard
  iOS/IssueTracker/IssueTracker/Storyboards/Milestone.storyboard
  iOS/IssueTracker/IssueTracker/Storyboards/Setting.storyboard
Labels: iOS

#81 [iOS] feat: IssueMain Edit mode 버그 수정
  iOS/IssueTracker/IssueTracker/Extensions/UICollectionView+.swift
  iOS/IssueTracker/IssueTracker/Issue/Main/IssueCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Issue/Main/IssueMainViewController.swift
Labels: bug, iOS

#82 [iOS] Apple Login 및 로그아웃 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/IssueTracker.entitlements
  iOS/IssueTracker/IssueTracker/Login/LoginViewController.swift
  iOS/IssueTracker/IssueTracker/SceneDelegate.swift
  iOS/IssueTracker/IssueTracker/Settings/SettingViewController.swift
  iOS/IssueTracker/IssueTracker/Storyboards/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Storyboards/Login.storyboard
  iOS/IssueTracker/IssueTracker/Storyboards/Setting.storyboard
Labels: iOS

#84 [iOS] feat: SearchBar Action 구현
  iOS/IssueTracker/IssueTracker/Issue/Main/IssueMainViewController.swift
Labels: iOS

#86 [iOS] Issue Filter 기능 구현
  iOS/IssueTracker/IssueTracker/Issue/Filter/IssueFilterViewController.swift
  iOS/IssueTracker/IssueTracker/Issue/Main/IssueMainViewController.swift
  iOS/IssueTracker/IssueTracker/Model/IssueFilterOption.swift
Labels: iOS

#87 [iOS] 코멘트 뷰 개발 , PullUPView 통신
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Issue/Detail/CloseButtonCell.swift
  iOS/IssueTracker/IssueTracker/Issue/Detail/CommentAddViewController.swift
  iOS/IssueTracker/IssueTracker/Issue/Detail/InfoHeaderView.swift
  iOS/IssueTracker/IssueTracker/Issue/Detail/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/Issue/Detail/IssueInfoViewController.swift
  iOS/IssueTracker/IssueTracker/Issue/Detail/LabelCell.swift
  iOS/IssueTracker/IssueTracker/Issue/Detail/MilestoneCell.swift
  iOS/IssueTracker/IssueTracker/Issue/Detail/ProfileCell.swift
  iOS/IssueTracker/IssueTracker/Network/Endpoints/IssueDetailEndpoint.swift
  iOS/IssueTracker/IssueTracker/Network/Endpoints/IssueEndpoint.swift
  iOS/IssueTracker/IssueTracker/Network/Services/CommentService.swift
  iOS/IssueTracker/IssueTracker/Network/Services/IssueDetailService.swift
  iOS/IssueTracker/IssueTracker/Network/Services/IssueService.swift
  iOS/IssueTracker/IssueTracker/Storyboards/Issue.storyboard
Labels: iOS

#88 [iOS] feat: Issue 모두 close하는 기능 추가
  iOS/IssueTracker/IssueTracker/Extensions/NSNotification.Name+.swift
  iOS/IssueTracker/IssueTracker/Issue/Detail/CommentAddViewController.swift
  iOS/IssueTracker/IssueTracker/Issue/Detail/CommentCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Issue/Detail/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/Issue/Main/BottomMenuView.swift
  iOS/IssueTracker/IssueTracker/Issue/Main/BottomMenuView.xib
  iOS/IssueTracker/IssueTracker/Issue/Main/IssueMainViewController.swift
  iOS/IssueTracker/IssueTracker/Network/Services/CommentService.swift
  iOS/IssueTracker/IssueTracker/Network/Services/IssueDetailService.swift
  iOS/IssueTracker/IssueTracker/Network/Services/IssueService.swift
Labels: iOS

#89 [iOS] Keyboard endEdit 시에 dismiss
  iOS/IssueTracker/IssueTracker/Label/LabelAddViewController.swift
  iOS/IssueTracker/IssueTracker/Label/LabelDetailViewController.swift
  iOS/IssueTracker/IssueTracker/Milestone/MilestoneAddViewController.swift
  iOS/IssueTracker/IssueTracker/Milestone/MilestoneDetailViewController.swift
Labels: iOS

#90 Merge fix/api-issue-get to feat/issue
  web/server/controllers/controller.js
  web/server/controllers/issueComments.js
  web/server/controllers/issueMilestones.js
  web/server/controllers/issues.js
  web/server/middlewares/github.js
  web/server/models/issueMilestones.js
  web/server/models/model.js
  web/server/objects/issue.js
  web/server/objects/milestone.js
  web/server/package-lock.json
  web/server/package.json
  web/server/routes/index.js
  web/server/routes/issueMilestones.js
  web/server/routes/issues.js
  web/server/routes/login.js
  web/server/routes/milestones.js
Labels: Backend, Front

#93 [iOS] fix: Layout 잘못된 것들 수정
  iOS/IssueTracker/IssueTracker/Issue/Detail/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/Issue/Detail/MilestoneCell.swift
  iOS/IssueTracker/IssueTracker/Issue/Main/IssueMainViewController.swift
  iOS/IssueTracker/IssueTracker/Milestone/MilestoneDetailViewController.swift
  iOS/IssueTracker/IssueTracker/Model/Milestone.swift
  iOS/IssueTracker/IssueTracker/Storyboards/Issue.storyboard
Labels: iOS

#95 [iOS] Refresh control 적용
  iOS/IssueTracker/IssueTracker/Issue/Main/IssueMainViewController.swift
  iOS/IssueTracker/IssueTracker/Label/LabelMainViewController.swift
  iOS/IssueTracker/IssueTracker/Milestone/MilestoneMainViewController.swift
Labels: iOS
